body {
    background-color: #f0f0f0; /* Светло-серый цвет фона */
}

.content {
    text-align: center;
    padding: 50px;
}

input[type="submit"] {
    background-color: #87CEFA; /* Голубой цвет */
    color: white; /* Белый текст */
    padding: 10px 20px; /* Подушечки вокруг текста */
    border: none; /* Убираем границу */
    border-radius: 5px; /* Скругляем углы */
    cursor: pointer; /* Курсор в виде указателя */
    transition: background-color 0.3s; /* Плавное изменение цвета при наведении */
}

input[type="submit"]:hover {
    background-color: #6495ED; /* Потемнее голубой при наведении */
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.footer-left, .footer-right {
    width: 45%;
}

.footer-text {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.footer-image {
    width: 100%;
}
