<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вычислитель прогнозных значений износа и оставшегося ресурса режущего инструмента</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="content">
        <h1>Вычислитель прогнозных значений износа и оставшегося ресурса режущего инструмента</h1>
        <p>{{ message|safe }}</p>
        <form action="/" method="post">
            <p>
                <label>Введите время наработки инструмента, мин:</label>
                <input type="text" name="Operating_time" required>
            </p>
            <p>
                <input type="submit" value="Определить прогнозные значения">
            </p>
        </form>
        <button id="redirect-button">Перейти на сайт</button> <!-- Кнопка для перенаправления -->
    </div>

    <div class="full-width-text footer-text">
        Предлагаем Вашему вниманию демоверсию программной части программно-аппаратного комплекса операционного контроля режущего инструмента (РИ) и заготовок ТехноРиВ Прогноз.<br>
        В программную часть программного комплекса заложена прогнозная модель износа расточной державки "E20S SVUCR 11", оснащенной пластиной "VCMT110302".<br>
        Прогнозная модель была разработана на основании обработки данных, полученных во время выполнения операционного контроля РИ.<br>
        Для получения прогнозного значения РИ, пожалуйста введите неотрицательное значение наработки РИ в диапазоне от 0 до 154 минут
    </div>

    <div class="footer-container">
        <div class="footer-left">
            <div class="footer-text">
                Чистовая обработка<br>
                Скорость резания 120 м/мин
            </div>
            <img src="{{ url_for('static', filename='a32t-svlnr-13.jpg') }}" class="footer-image" alt="Footer Image">
        </div>
        <div class="footer-right">
            <div class="footer-text">Создано при финансовой поддержке Фонда содействия инновациям</div>
            <img src="{{ url_for('static', filename='Logo_2.png') }}" class="footer-image" alt="Second Footer Image">
        </div>
    </div>

    <script>
        document.getElementById("redirect-button").addEventListener("click", function() {
            window.location.href = "https://tehnopodgotovka.ru/"; // Замените на нужный URL
        });
    </script>
</body>
</html>
